.saraso-main{
    width: 80%;
    margin-left: 10%;
   
}
.saraso-keys{
    display:grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
    margin-bottom: 10px;
}
.saraso-key{
    font-style: italic;
    font-size: 20px;
    margin-left: 10px;
}
.saraso-vertes{
    display:grid;
    grid-template-columns: 1fr 1fr 1.5fr 1.5fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px;
    margin-bottom: 10px;
    align-items: center;
}
.saraso-verte{
    border: 2px solid #999;
    border-left: 0px;
    padding:10px;
    font-size:18px
}
.saraso-verte:first-of-type{
    border: 2px solid #999;
}
.saraso-vertes > .saraso-sask-nr, .saraso-vertes > .saraso-AK{
    letter-spacing: 5px;
    text-align: center;
}
.saraso-vertes >.saraso-sask-likutis {
    text-align: end;
}
.saraso-vertes > a{
    height: 40px;
    width:150px;
    background-color: orange;
    border: 3px solid rgb(209, 137, 2);
    box-shadow: 0 2px 6px #999;
    justify-self: center;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.saraso-vertes > a:hover{
    background-color:rgb(209, 137, 2);
}
.saraso-vertes > button{
    height: 40px;
    width: 70px;
    justify-self: end;
    box-shadow: 0 2px 6px #999;
    font-weight: 600;
}
.saraso-vertes > button:hover{
    background-color:orangered;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}